
/* Your CSS Code here. */
.holder{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	flex-wrap:wrap;
}
.item{
	width:90px;
	height:90px;
}
.item:nth-child(1)
{
	background-color:darkgreen;
}
.item:nth-child(2)
{
	background-color:red;
}
.item:nth-child(3)
{
	background-color:blue;
}